/* Please use variables defined in the Global Styles for any colors */
/* If there is no matching variable for the color you wish, please define a new one. */

/* Also note that you should avoid using specific widths(px) when creating responsive designs. Instead try to use %, vw(viewWidth), vh(viewHeight).
You can also user rem(px = root font size) or em (px = parent container font size) */
#registration-page-wrapper {
    min-height: calc(100vh - 5px);
    max-height: 100%;
    overflow: hidden;
    color: var(--tone-08);
}
#registration-page-wrapper   {
    filter: saturate(0.75);
}
#registration-page-content   {
    min-width: 100%;
    min-height: 100% !important;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    & > div {
        min-height: calc(100vh - 5px);
    }
    & > div:first-child {
        width: 25%;
    }
    & > div:last-child {
        width: 75%;
    }
}

#registration-page-content::after   {
    content: "";
    border-style: solid;
    border-width: 0 100vw 100vh 0px;
    border-color: transparent transparent var(--tone-00) transparent;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    opacity: 50%;
    z-index: 0;
}

#registration-page-about {
    /* padding: 30px 20px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding-top: 4rem;
    left: 0;
    text-align: center;
    border-right: 3px solid var(--tone-00); 
    z-index: 9;
}

#registration-page-about::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--tone-00);
    opacity: 80%;
    z-index: -1;
    backdrop-filter: blur(8px);
}

#registration-page-info {
    & > h1 {
        font-size: 4rem;
    }
    & > p {
        font-size: 1.5rem;
    }

    & > p > a {
        font-style: italic;
        font-size: 1.5rem;
    }
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#registration-form-wrapper {
    border-radius: 1rem;
    background-color: var(--tone-04);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 48%;
    height: 80%;
    z-index: 9;

}

#registration-form {
    background: var(--tone-01);
    height: 85%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.25rem;
    gap: 1rem;
    z-index: 999;
    & > div {
        min-width: calc(100% - 8rem);
    }
}

#registration-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f5f5f5;
}

#registration-form-names, #registration-form-password {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#registration-form-names > span, 
#registration-form-password > span {
    min-width: calc(49% - 1.5rem);
}


#registration-form-password {
    margin-bottom: 3rem;
}

#registration-form label {
    font-weight: bold;
    margin-top:0.75rem;
    display: block;
}



 


#registration-form-buttons {
    margin-top: 3rem;
    display: flex;
    border-radius:0.3rem;
    justify-content: space-between;
    & > button {
        width: calc(49% - 1.5rem);
        height: 3rem;
        font-size: 1rem;
        backface-visibility: hidden;
        position: relative;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        border-color: var(--tone-01 );
        color: var(--tone-08);
        background-image: linear-gradient(180deg,#2a405a30 0%,#22222230 49%, #0a090f30 51%,#17132230 100%);
        border-radius: 5px;
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.5),0px 1px 3px rgba(0,0,0,0.3);
    }
}

#registration-form-buttons button:first-of-type {
    background-color: var(--color-blue-02);
}

#registration-form-buttons button:last-of-type {
    background-color: var(--tone-03);
}


/* .lang-switch {
    width: 100%;
    background: #000;
    color: white;
    font-size: 12px;
    padding:0.75rem 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
} */
