/* Default styles */
@media screen and (min-width: 300px) {
    #nav-bar {
        width: 21rem;
        min-height: calc(100% - 3rem);
        overflow: hidden;
        gap: 3rem;
        align-items: center;
        justify-content: flex-end;
        background-color: #11161A;
        border-right: 4px solid var(--tone-00);
        z-index: 9999;
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        padding-top: 3rem;
    }
    #nav-bar-inner {
        width: 100%;
        min-height: calc(75vh - 4rem);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: #060808;
        border-top-right-radius: 3rem;
        border-top-left-radius: 3rem;
    }
    
    #tabs {
        padding: 2rem 0rem;
        list-style: none;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;
        width: calc(100% - 3rem); 
        overflow: hidden;
    }
    .tab {
        height: 4rem;
        width: calc(100%- 4rem);
        border-radius: 1.5rem;
        background-color: #11161A;
        & > a {
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.5rem;
            color: var(--tone-08);
        gap: 2rem;
        }
    }
    .tab:hover {
        background-color: #242E3A;

    }
    .tab:active {
        background-color: #242E3A;

    }
    #language-control {
        height: 2rem;
        text-align: center;
        line-height: 0;
        border-bottom: 2px solid hotpink;
        width: 100%;
        & > a {
            font-size: 1.75rem;
            font-color: #c0c0c0;
        }
    }
    #logo {
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        line-height: 0.75;
        background-color: var(--tone-07);
        border: 3px solid var(--tone-00);
        & > p {
            text-align: center;
            font-size: 4rem;
        }
    }
}

/* Tablet Screens */

/* @media screen and (max-width: 1280px) {
    #nav-bar {
        min-width: 6.5vw;
        max-width: 6%;
        height: 65vh;
        position: absolute;
        margin-top: 3rem;
        bottom: 0;
    }

    #nav-bar-inner {
        width: 100%;
        height: 100%;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        background-color: var(--tone-01);
        border-top: 3px solid var(--tone-00);
    }
    #tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 60%;
    }
    .tab {
        overflow: hidden;
        background-color: var(--tone-00);
        color: var(--tone-08);
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 5vw;
        width: 5vw;
    }
    .tab:hover {
        min-width: calc(100% - 6vh);
        & > .tab-label {
            padding-left: 1rem;
        }
    }

    .tab-label {
        display: none;
        box-sizing: none;
        opacity: 0;
    }

    #logo {
        height: 5vw;
        width: 5vw;
        border-radius: 100%;
        margin-top: -4.75rem;
        background-color: var(--tone-07);
        border: 3px solid var(--tone-00);
        & > p {
            text-align: center;
            font-size: 1.5rem;
        }
    }
    #btn-quit {
        width: 80%;
        height: 5vw;
        font-size: 1.25rem;
        background-color: var(--tone-04);
        border: 3px solid var(--tone-00);
    }
} */

/* Extra Small Screens */

/* @media screen and (max-width: 720px) {
    #nav-bar {
        min-height: 6.5vh;
        max-height: 6%;
        min-width: 80vw;
        max-width: 65%;
        position: absolute;
        top: calc(100vh - 12vh);
        left: 50%;
        transform: translate(-50%, 0);

        overflow: hidden;
    }

    #nav-bar-inner {
        width: 100%;
        height: 100%;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        background-color: var(--tone-01);
        border-top: 3px solid var(--tone-00);
    }
    #tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1rem;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 60%;
    }
    .tab {
        overflow: hidden;
        background-color: var(--tone-00);
        color: var(--tone-08);
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 5vw;
        width: 5vw;
    }
    .tab:hover {
        min-width: calc(100% - 6vh);
        & > .tab-label {
            padding-left: 1rem;
        }
    }

    .tab-label {
        display: none;
        box-sizing: none;
        opacity: 0;
    }

    #logo {
        height: 5vw;
        width: 5vw;
        border-radius: 100%;
        margin-top: -4.75rem;
        background-color: var(--tone-07);
        border: 3px solid var(--tone-00);
        & > p {
            text-align: center;
            font-size: 1.5rem;
        }
    }
    #btn-quit {
        width: 80%;
        height: 5vw;
        font-size: 1.25rem;
        background-color: var(--tone-04);
        border: 3px solid var(--tone-00);
    }
} */
