#page-header {
    width: calc(80vw - 7rem);
    height: 12vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    & > h1 {
        padding-right: 6rem;
        font-size: 3rem;
        margin-bottom: -0.25rem;
    }
}
.ribbon {
    background-color: var(--color-red-05);
    width: 90%;
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
}
.ribbon:before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 4vw 5.1vh 0;
    border-color: transparent var(--color-red-05) transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    left: -0.4vw;
}
