
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0f1418;
  font-family: Arial, sans-serif;
}


.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  border: 2px solid #000;
  background: linear-gradient(135deg, #5b759b 40%, #11161d 60%);
  position: relative;
  overflow: hidden;
}

.login-container::before,
.login-container::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  z-index: 50;
}

.login-container::before {
  top: 0; left: 0;
  border-right: none;
  border-bottom: none;
}

.login-container::after {
  bottom: 0; right: 0;
  border-left: none;
  border-top: none;
}


.left-panel {
  width: 40%;
  padding: 40px;
  color: white;

}

.description-box {
  background: rgba(4, 29, 54, 0.3);
  border: 2px solid #000;
  padding: 20px;
  margin-top: 20px;
  border-radius: 6px;
}


.center-logo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.logo-circle {
  width: 120px;
  height: 120px;
  background: #9ac9f5;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}


.form-panel {
  width: 40%;
  margin-left: auto;
  padding: 50px;
  background: rgba(20,20,20,0.6);
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}

form label {
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #222;
  background: #d9d9d9;
  border-radius: 4px;
  margin-bottom: 10px;
}

a {
  color: #9ac9f5;
  font-size: 14px;
}


.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.signup-btn {
  background: #9ac9f5;
  padding: 10px 25px;
  border-radius: 6px;
  border: 2px solid #000;
}

.signin-btn {
  background: #252525;
  padding: 10px 25px;
  border-radius: 6px;
  color: white;
  border: 2px solid #000;
}


.lang-switch {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 12px;
  padding: 0 40px;
  background-color: #000000;
}

.lang-switch .center {
  text-align: center;
  flex: 1;
}

.lang-switch a {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

.lang-switch a:last-child {
  margin-right: 0;
}

body::before {
  display: none !important;
}


body {
  top: 0 !important;
  overflow: auto !important;
}

.top-logo {
  margin: 0 auto 30px auto;
}


.logo-section {
  display: none;
}
