#header {
    width: calc(100% - 13.5%);
    height: 9vh;
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 9999999;
    overflow: hidden;

    background: rgba(20, 30, 45, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    & > h1 {
        padding-left: 2rem;
        font-size: 3rem;
        margin-bottom: -0.25rem;
        color: #ffffff;
    }
}

.ribbon {
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    gap: 0.5rem;
    line-height: 1;

    /* Make ribbon text brighter */
    color: #ffffff;

    & > h3:last-child {
        position: absolute;
        right: 4rem;
    }
}

/* Force visibility of Welcome Back + Username + Date */
.ribbon h2,
.ribbon h3 {
    color: #ffffff !important;   /* override global theme */
    font-weight: 600;
}
