/* needs to be updated tomatch the figma design*/

.reset-container {
  width: 100%;
  min-height: 100vh;
  border: 2px solid #000;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  padding: 40px;
}


.reset-container::before,
.reset-container::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
}
.reset-container::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.reset-container::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.reset-container h1 {
  margin-bottom: 15px;
}


.reset-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}


.reset-container label {
  font-weight: bold;
  margin-top: 15px;
  align-self: flex-start;
}


.reset-container input[type="password"] {
  border: 2px dashed green;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
}


.reset-container button {
  margin-top: 25px;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #9ac9f5;
  color: #000;
  font-weight: bold;
  border: 2px solid #007bff;
  cursor: pointer;
}

.reset-container button:hover {
  background-color: #7ab8f5;
}


@media (max-width: 600px) {
  .reset-container {
    padding: 20px;
  }

  .reset-container form {
    width: 90%;
  }
}
