
.register-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(135deg, #1c2430 40%, #2a3550 100%);
    color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
}


.sidebar {
    width: 300px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1c2430 0%, #0f1418 100%);
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.register-form {
    background: #0f1418;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
}

.register-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f5f5f5;
}


.register-form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.register-form input,
.register-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #555;
    background: #1a1f28;
    color: #fff;
}


.buttons {
    display: flex;
    border-radius:4px ;
    justify-content: space-between;
}

.register-form button:first-of-type {
    background-color: #2a72d4;
    color: #fff;
}

.register-form button:last-of-type {
    background-color: #555;
}


.lang-switch {
    width: 100%;
    background: #000;
    color: white;
    font-size: 12px;
    padding: 10px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
