/* Center wrapper */
.profile-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

/* PERFECT VERTICAL STACK */
.profile-card2 {
    display: flex;
    flex-direction: column;   /* forces vertical stacking */
    justify-content: flex-start;
    align-items: center;

    width: 480px;
    background: #111a2e;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid #1f2a40;

    gap: 25px; /* perfect spacing */
}



/* Info text */
.info2 {
    text-align: center;
}

/* Center image */
.avatar2 {
    display: flex;
    justify-content: center;
}

.avatar2 img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 16px;
    border: 3px solid #3c82f6;
    background-color: #0d1117;
}

/* Button at bottom */
.edit-btn2 {
    padding: 14px;
    background: #3c82f6;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
    display: block;
    /* text-decoration: none; */

}

.btn3 {
    padding: 14px;
    background: #5bf63c;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
    display: block;
}

.edit-btn4 {
    padding: 14px;
    background: #3c82f6;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
    display: block;
}

#user-profile-card {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    & > h2 {
        position: absolute;
        background-color: var(--color-blue-01) !important;
        top: -1.4rem;
        width: 100%;
        height: 3rem;
        padding: 1.5rem 0rem 0rem 1.5rem;
    }
    & > h2::after {
        background-image: none !important;
    }
    & > div > span {
        display: flex;
        flex-flow: row wrap;
        gap: 3rem;
    }
}


#user-details-card {
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    & > h2 {
        position: absolute;
        background-color: var(--color-blue-01) !important;
        top: -1.4rem;
        width: 100%;
        height: 3rem;
        padding: 1.5rem 0rem 0rem 1.5rem;
    }
    & > h2::after {
        background-image: none !important;
    }
    & > div {
        background-color: hotpink;
        position: relative;
        top: 2rem;
        height: 80%;
    }
    & > div > span {
        display: flex;
        flex-flow: row wrap;
        gap: 3rem;
    }
}
